<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mastermind{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
          <style type="text/css">
            input:invalid {
              border: red solid 3px;
            }
          </style>
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
{# vars d'entrée : jeu  , message envoyé par le contrôleur #}
<body>
<div><h2>Mastermind</h2>
<p>Veuillez saisir successivement des combinaisons de {{jeu.taille}} 
chiffres jusqu'à la victoire !
</p>
<form method="get">
<table>
<tr>
  <th align="left" valign="middle">Num&eacute;ro</th>
  <th align="left" valign="middle">Proposition</th>
  <th align="left" valign="middle">Bien plac&eacute;(s)</th>
  <th align="left" valign="middle">Mal plac&eacute;(s)</th>
</tr>
{% set i = 1 %}
{% for prop, res in jeu.essais %}
  <tr><td>{{ i }}</td><td>{{prop}}</td><td>{{res.bon}}</td><td>{{res.mal}}</td></tr>
  {% set i = i+1 %}
{#  {% if res.bon == jeutaille %}
    {% set fini =  true %}
  {% endif %}
#}
{% endfor %}
{% if not jeu.isFini %}
  <tr><td>{{i}}</td><td><input type='text' pattern="[0-9]{{ '{' }}{{jeu.taille}}{{ '}' }}" name='prop' autofocus 
  size='{{jeu.getTaille}}' ></td>
  <td><input type="submit" value="OK"></td><td></td></tr>
{% else %}
  <tr><td></td><td>GAGN&Eacute; !</td><td><input type="submit" name="nouveauJeu" value="Nouveau Jeu !"></td></tr>
{% endif %}    
</table>
</form>
{% if message is defined %}
  {{ message }}
{% endif %}
</body></html>
